node_modules/
.env
.DS_Store
taskflow.db
taskflow.db-shm
taskflow.db-wal
brodoit.db
brodoit.db-shm
brodoit.db-wal
tts-cache/
audio-static/*
!audio-static/aff-*.mp3
!audio-static/vip-*.mp3
!audio-static/music-*.mp3
!audio-static/med-*.mp3
!audio-static/story-*.mp3
.claude/
*.aab
